.other-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.empty-desc , .booked-desc , .user-seat-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.other-sec p {
    font-size: 14px;
    font-weight: bold;
}

.empty-desc div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}

.booked-desc div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(63, 169, 244);
}

.user-seat-desc div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(183, 103, 244);
}

.reset-btn {
    background-color: rgb(63, 169, 244);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
}
.reset-btn img {
    width: 30px;
    height: 30px;
}